@import url('https://fonts.googleapis.com/css?family=Rubik')

// General variables
$colour-bright: #b48a6a
$colour-bright-complement: #886a53
$colour-dark: #3d211b
$colour-dark-complement: #5a423d 
$colour-super-dark: #201613

::-moz-selection
  background: $colour-bright-complement
  color: $colour-dark

::selection
  background: $colour-bright-complement
  color: $colour-dark

// General overrides
a
  text-decoration: none

  &:focus
    outline: 1px solid $colour-dark-complement

  &:visited
    color: inherit

body
  background-color: $colour-super-dark
  color: $colour-bright
  font-family: 'Rubik', sans-serif
  font-size: 16px
  margin: 0

h2
  font-size: 1.6em
  margin: 0
  padding: .5em 0 0 .5em
  text-align: left

hr
  border: none
  // border-bottom: 1px dashed $colour-dark-complement
  padding-top: 1em
  text-align: center

  &::after
    content: "♦ ♦ ♦"

iframe
  display: block
  margin: 0 auto
  max-width: 800px
  padding: 1em
  width: calc(100% - 2em)

img.logo
  height: 1.5em
  padding-right: .1em
  width: 1.5em

ul
  font-size: .75em
  margin-top: .5em

.member-icon
  border-radius: 2em
  border: 1px solid $colour-dark-complement
  height: 10em
  margin-top: 1em

#company-name
  a
    align-items: center
    display: flex
    font-size: 1.4em
    font-weight: bold
    padding: 0 4px

  span
    color: #fff
    font-size: .8em
    font-style: italic
    padding-left: .5em

#content
  background-color: $colour-dark
  min-height: calc(100vh - 64px)

  p
    font-size: .8em
    margin: 0
    padding: 1em 1em 0

#crude-games
  &.hide-crude
    display: none

.game-page-date
  color: $colour-bright-complement
  font-size: 1em
  padding: 0 1em

.game-page-title
  font-size: 2em
  font-weight: bold
  padding: .5em .5em 0

#links
  font-size: 1em
  padding: 8px
  position: relative

  a
    padding: 4px
    &:hover
      color: mix(#fff, #4da9e2, 75%)

    &:active, &:visited
      outline: 1px solid mix(#fff, #4da9e2, 75%)

#links-button
  cursor: pointer
  display: none
  height: 2em
  margin-right: 1em
  padding-top: .25em

#navigation-bar
  background-color: #4da9e2
  color: #fff

  a
    color: #fff

  .wideness-constraint
    align-items: center
    display: flex
    justify-content: space-between
    min-height: 64px

.centred-page
  text-align: center

  a
    font-weight: bold

.dark-area
  a
    color: $colour-bright

    &:hover
      color: $colour-bright-complement

.dual-member-list
  text-align: left

  .dual-member-list-side
    padding: 0 1em


  .dual-member-list-item
    display: inline-flex
    flex: 1
    flex-direction: row
    max-width: 32%
    padding: 1em 0
    width: 100%

    .item
      font-size: .75em

    .left
      margin-right: 1em

    .title
      font-weight: bold

    img
      height: 4em

.game-list
  display: flex
  flex-wrap: wrap
  font-size: .8em

  a
    color: $colour-bright

    &:hover
      color: $colour-bright-complement

  .game
    display: flex
    flex: 1 0 90%
    justify-content: space-between
    padding: 1em
    text-align: left
    

  .game-date
    font-size: .8em
    padding-top: .25em

  .game-tagline
    padding-top: .25em

  .game-title
    font-size: 1.5em
    font-weight: bold

.game-icon
  border: 1px solid $colour-dark-complement
  height: 7em
  margin-left: 1em

.member-tagline
  padding: 1em 1em 0

.no-select
  -webkit-user-drag: none
  -moz-user-select: none
  -ms-user-select: none
  -webkit-user-select: none 
  user-select: none

.shot-slider
  display: block
  margin: 1em
  overflow-x: auto
  overflow-y: hidden

  .internal
    display: flex

  img
    border: 1px solid $colour-dark-complement
    display: inline
    margin: .5em
    height: 210px

.wideness-constraint
  margin: 0 auto
  max-width: 1000px

@media (max-width: 600px)
  .game-list
    .game-icon
      height: 5em

  #links.selected
    #links-dropdown
      display: flex

  #links-button
    display: block

  #links-dropdown
    background-color: $colour-bright
    display: none
    flex-direction: column
    padding: .25em
    position: absolute
    right: 0
    top: 56px
    z-index: 10000

    a
      display: inline-block
      padding: .25em .5em

  
  .dual-member-list
    .dual-member-list-item
      max-width: 100%

  .shot-slider
    overflow-x: scroll
    -webkit-overflow-scrolling: touch

@media (min-width: 720px)
  .game-list
    .game
      flex: 1 0 40%
      max-width: calc(50% - 2em)

      &:nth-child(odd)
        border-right: 1px dashed $colour-dark-complement

@media (max-width: 800px) and (min-width: 600px)
  .dual-member-list
    .dual-member-list-item
      max-width: 49.5%