{{ partial "header.html" . }}

{{ .Content }}

Ciik

<div class="game-list">
{{ range .Site.Taxonomies.categories.game }}
  <div class="game">
    <div class="left">
      <div class="game-title">
        <a href={{ .Page.Permalink }}>
          {{ .Page.Params.Name }}
        </a>
      </div>
      <div class="game-date">
        {{ dateFormat "02 Jan, 2006" .Page.Params.Date }}
      </div>
      <div class="game-tagline">
        {{ .Page.Params.Tagline }}
      </div>
    </div>
    <div class="right">
      <img
        class="game-icon"
        src="{{ printf "/games/%v/icon.jpg" .Title }}"
      />
    </div>
  </div>
{{ end }}
</div>

{{ partial "footer.html" . }}