{{ partial "header.html" . }}

  <div class="game-page-title no-select">{{ .Title }}</div>
  <div class="game-page-date no-select">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>

  {{ $params := .Page.Params }}
  {{ with .Page.Params.ShotCount }}
    <div class="shot-slider">
      <div class="internal">
        {{ range $i, $num := seq . }}
          <img src="/png/games/{{ $params.ID }}/shot{{ $num }}.jpg" />
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{ .Content }}
  
  <hr />

  {{ with .Page.Params.itchID }}
    <iframe
      src="https://itch.io/embed/{{ . }}?border_width=0&amp;bg_color=3d211b&amp;fg_color=b48a6a&amp;link_color=5a423d&amp;border_color=5a423d"
      frameborder="0" 
    ></iframe>
  {{ else }}
    <p style="font-style: italic; text-align: center">Download links coming soon</p>
  {{ end }}

{{ partial "footer.html" . }}