{{ partial "header.html" . }}

{{ .Content }}

<script>
  function toggleCrude () {
    var box = document.getElementById("crude-check");
    var list = document.getElementById("crude-games");

    if (box.checked) {
      list.classList.remove("hide-crude")
    } else {
      list.classList.add("hide-crude")
    }
  }
</script>

<hr />

<div class="game-list">
{{ range .Site.Taxonomies.categories.game }}
  {{ if (ne .Page.Params.Crude true) }}
  <div class="game">
    <div class="left">
      <div class="game-title">
        <a href={{ .Page.Permalink }}>
          {{ .Page.Params.Title }}
        </a>
      </div>
      <div class="game-date">
        {{ dateFormat "02 Jan, 2006" .Page.Params.Date }}
      </div>
      <div class="game-tagline">
        {{ .Page.Params.Tagline }}
      </div>
    </div>
    <div class="right">
      <img
        class="game-icon"
        src="{{ printf "/png/games/%v/sidebar.jpg" .Page.Params.ID }}"
      />
    </div>
  </div>
  {{ end }}
{{ end }}
</div>

<hr />

<div style="text-align: center;">
  <label>
    <input autocomplete="off" id="crude-check" type="checkbox" onclick="toggleCrude()" />
    Show crude games
  </label>
</div>

<div id="crude-games" class="game-list hide-crude">
{{ range .Site.Taxonomies.categories.game }}
  {{ if (eq .Page.Params.Crude true) }}
  <div class="game">
    <div class="left">
      <div class="game-title">
        <a href={{ .Page.Permalink }}>
          {{ .Page.Params.Title }}
        </a>
      </div>
      <div class="game-date">
        {{ dateFormat "02 Jan, 2006" .Page.Params.Date }}
      </div>
      <div class="game-tagline">
        {{ .Page.Params.Tagline }}
      </div>
    </div>
    <div class="right">
      <img
        class="game-icon"
        src="{{ printf "/png/games/%v/sidebar.jpg" .Page.Params.ID }}"
      />
    </div>
  </div>
  {{ end }}
{{ end }}
</div>

{{ partial "footer.html" . }}