{{ partial "header.html" . }}

{{ .Content }}

<hr />

<div class="game-list">
{{ range (.Site.Taxonomies.categories.member.Pages.ByWeight)}}
  <div class="game">
    <div class="left">
      <div class="game-title">
        <a href={{ .Permalink }}>
          {{ .Params.Title }}
        </a>
      </div>
      {{ with .Params.Twitter }}
        <div class="game-tagline">
          <img src="/png/logos/twitter.png" style="height: .75em;" />
          <a href="https://twitter.com/{{ . }}" target="_blank">
            {{ . }}
          </a>
        </div>
      {{ end }}
      <div class="game-tagline">
        {{ .Params.Tagline }}
      </div>
    </div>
    <div class="right">
      <img
        class="game-icon"
        src="{{ printf "/jpg/members/%v/face.jpg" .Params.ID }}"
      />
    </div>
  </div>
{{ end }}
</div>

{{ partial "footer.html" . }}