{{ partial "header.html" . }}

  <div class="centred-page">
    {{ $params := .Page.Params }}

    <img src="/jpg/members/{{ $params.ID }}/face.jpg" class="member-icon" />

    <div class="game-page-title no-select">{{ .Title }}</div>
    
    {{ with $params.Aliases }}
      aka. {{ delimit . ", " }}
    {{ end }}
    {{ with $params.Twitter }}
    <div>
      <a href="mailto:{{ $params.ID }}@caveware.digital">
        Email
      </a>
      <span style="display: inline-block;width: 1em"></span>
      <img src="/png/logos/twitter.png" style="height: .75em;" />
      <a href="https://twitter.com/{{ . }}" target="_blank">
        {{ . }}
      </a>
    </div>
    {{ end }}


    <div class="member-tagline">
      {{ $params.Tagline }}
    </div>

    <hr />

    <div class="dual-member-list">
      <div class="dual-member-list-side">
        <h2>Games</h2>
        {{ range .Site.Taxonomies.categories.game }}
          {{ $game := .Params }}

          {{ range $game.Staff }}
            {{ $data := . }}
            {{ if and (eq (index . 0) $params.ID) (ne $game.Crude true) }}
              <div class="dual-member-list-item">
                <div class="left">
                  <img
                    class="game-icon"
                    src="/png/games/{{ $game.ID }}/sidebar.jpg"
                  />
                </div>
                <div class="right">
                  <div class="title">
                    <a href="/game/{{ $game.ID }}">
                      {{ $game.Title }}
                    </a>
                  </div>
                  {{ range after 1 $data }}
                    <div class="item">{{ . }}</div>
                  {{ end }}
                </div>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
      <div class="dual-member-list-side">

      </div>
  </div>

{{ partial "footer.html" . }}