<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149674106-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-149674106-5');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} : Caveware Digital</title>
    {{ $sass := resources.Get "sass/main.sass" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>
<body>
  <div id="navigation-bar">
    <div class="wideness-constraint">
      <script>
        function onHamburgerClick() {
          var links = document.querySelector("#links")
          links.classList.toggle("selected")
        }
      </script>
      <div id="company-name" class="no-select">
        <a href="/"><img class="logo" src="/favicon.png" />Caveware Digital</a>
        <span class="no-select">Your favourite weird content creators.</h1>
      </div>
      <div id="links">
        <img
          id="links-button"
          onclick="onHamburgerClick()"
          src="/png/hamburger.png"
        />
        <div id="links-dropdown">
          {{ range .Site.RegularPages }}
              {{ if eq .Type "page" }}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="wideness-constraint dark-area" id="content">