{{ partial "header.html" . }}

  <style>
    #content {
      align-items: center;
      background-color: #0e0700;
      background-position: center top;
      background-repeat: repeat;
      /*background-size: cover;*/
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      max-width: 100% !important;
      position: absolute;
      right: 0;
      top: 64px;
    }

    .attribution {
      bottom: 0;
      color: #fff;
      display: none;
      font-size: .75em;
      left:0;
      padding: 4px;
      position: absolute;
      right: 0;
      text-align: center;
      text-shadow: 1px 1px #000;
    }

    h1 {
      font-size: 1.8em;
      padding-bottom: 2.5em;
    }

    .scream-zone-game-jam-9-promo {
      background-color: #000;
      border: 2px solid #fff;
      color: #f3d3ae;
      max-width: 800px;
      padding: 1em;
      text-align: center;
      width: 100%;
    }

    .scream-zone-game-jam-9-promo a {
      background-color: #f0be84;
      color: #000;
      display: inline-block;
      font-size: 1em;
      margin-bottom: 1em;
      padding: .5em 2em;
    }
    
    .scream-zone-game-jam-9-promo a:hover {
      color: #533512;
    }

    .scream-zone-game-jam-9-promo div {
      font-size: 1.5em;
      padding: 0 1em 1em;
      text-shadow: 0 0 6px #676767;
    }

    .scream-zone-game-jam-9-promo img {
      max-width: 100%;
    }

    @media (max-width: 600px) {
      .scream-zone-game-jam-9-promo div {
        font-size: 1em;
      }
    }
  </style>

  <script>
    var val = 0;
    var content = document.querySelector("#content");
    var hue = Math.random() * 360;
    var SPEED = 20;

    var img = new Image();
    img.src = "/png/hero.png";

    function startHueShift () {
      window.setInterval(function () {
        val = val + (SPEED / 45) % 64;
        content.style.backgroundPositionX = (val * 2) + "px";
        content.style.backgroundPositionY = val + "px";

        hue =  (hue + 1 / 60 * SPEED) % 360;
        var col1 = "hsl(" + String(hue) + ", 90%, 40%)"
        var col2 = "hsl(" + String((hue + 180) % 360) + ", 90%, 40%)"
        document.body.style.backgroundImage = "linear-gradient(90deg, " + col1 + ", " + col2 + ")"
      }, 1000 / 60);
    }

    // img.onload = startHueShift;
  </script>

  <div class="dark-area scream-zone-game-jam-9-promo">
    <img src="/png/promo/scream-zone-game-jam-9-promo-banner.png">
    <div>
      A HORROR GAME JAM BY SCREAM CATALOGUE AND CAVEWARE DIGITAL
    </div>
    <a href="https://itch.io/jam/scream-zone-game-jam-9" target="_blank">
      JOIN NOW
    </a>
  </div>

  <div class="attribution dark-area no-select">
    Photo by <a href="https://unsplash.com/photos/ooxY4kyg79g?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ben Bowens</a> on <a href="https://unsplash.com/search/photos/greyscale?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </div>

{{ partial "footer.html" . }}